/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-boat-configurator {
	border: 1px dotted rgb(0, 195, 255);
	border-radius: .5em;
	padding: 2%;
}

/* HIDE RADIO */
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
	cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + .card {
	outline: 2px solid #f00;
  }

  .container{
    padding: 0px;
    display: flex;
    align-items: start;
    justify-content: flex-start;
	flex-wrap: wrap;
  }

  .card{
	height: 320px;
	max-width: 350px;
    margin-right: 20px;
	background: white;
	transition: 0.4s;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	border-radius: 0.8rem;
  }
  .card-plus{
	max-height: max-content;
	max-width: max-content;
	margin: 50px;
	transition: 0.4s;
  }

  .card .img{
	max-height: 200px;
	max-width: 200px;

  }
  .card .img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0.8rem;
	max-height: 200px;
	max-width: 200px;
  }
  .card .top-text{
	padding: 5px;
  }
  .card .top-text .option{
	font-size: 25px;
	font-weight: 600;
	color: #202020;
  }
  .card .top-text p{
	font-size: 20px;
	font-weight: 600;
	color: #e74c3c;
	line-height: 20px;
  }

  span.add-option {
	font-size: 100px;
    color: #8080808c;
	cursor: pointer;
  }

  span.delete-option {
	padding-left: 100%;
	cursor: pointer;
	color: #9d3a3a;
  }

  .delete-question {
	align-self: flex-start;
  }

  .question-container {
	margin-bottom: 2em;
  }
  
  .delete-btn {
	cursor: pointer;
  }

  .accordion {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	border-radius: .8em;
  }
  
  .accordion-header {
	padding: 10px;
	background-color: #e6e6e6;
	color:#030303;
	cursor: pointer;
	border-top-left-radius: .8em;
	border-top-right-radius: .8em;
  }

  .accordion-header.closed {
	border-radius: .8em;
  }

  .accordion-content {
	padding: 10px;
	background-color: #e6e6e6;
	margin-top: .5em;
	border-radius: .8em;
  }
  

  @media screen and (max-width: 978px) {
	.container{
	  //flex-direction: column;
	}
	.card{
	  max-width: 700px;
	  margin-right: 20px;
	}

	span.add-option {
		padding-top: 20px;
	}

  }

